@use 'variables'as *;

html {
    background-color: $background-color;
    display: block;
    padding: 5%;
}

header {
    height: 230px;
    padding: 20px 0 70px 0;

    background: #2d6360 20% 0 url("https://allgiff.github.io/CSSZenGarden/images/head-4.jpg") no-repeat;

    background-attachment: fixed, fixed, fixed, scroll;
    background-image: url("https://allgiff.github.io/CSSZenGarden/images/head-4.jpg");
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
    text-align: center;
}

body {
    background-color: $primary;
    padding: 1em;
    font-family: $fonts-body;
    text-align: justify;
}

h1 {
    color: $text-light;
    font-weight: 900;
    font-size: 6em;
    letter-spacing: 1px;
    line-height: 1em;
    font-family: $font1;
}

h2 {
    font-family: $font2;
    margin: 0;
    color: $text-light;
}

h3,
h4 {
    font-family: $font2;
    margin: 0;
    color: $main-red;
}

button {
    background-color: $main-red;
    font-family: sans-serif;
    border: none;
    text-align: center;
    text-decoration: none;
    color: $text-light;
    padding: 1em;
    border-radius: 15px;
}

button:hover {
    background-color: $dark-red;
}

a {
    border-bottom: 2px solid $text-dark;
    color: $text-dark;
    text-decoration: none;
}

a:hover {
    border-color: $main-red;
    color: $main-blue;
}