@use 'variables'as *;

@mixin color-box {
    background-color: $background-color;
    height: 100px;
    width: 100%;
}

html {
    background-color: $background-color;
    display: block;
    padding: 5%;
}

header {
    height: 230px;
    padding: 20px 0 70px 0;

    background: #2d6360 20% 0 url("https://allgiff.github.io/CSSZenGarden/images/head-4%20copy.jpg") no-repeat;

    background-image: url("https://allgiff.github.io/CSSZenGarden/images/head-4%20copy.jpg");
    background-position: 0% 60%;
    background-size: cover;
    text-align: center;
}

body {
    background-color: $primary;
    padding: 1em;
    font-family: $fonts-body;
}

h1 {
    color: $text-light;
    font-weight: 900;
    font-size: 6em;
    letter-spacing: 1px;
    line-height: 1em;
    font-family: $font1;
}

h2 {
    font-family: $font2;
    margin: 0;
    color: $text-light;
}

h3,
h4 {
    font-family: $font2;
    margin: 0;
    color: $main-red;
    font-size: 2em;
    font-weight: 700;
}

button {
    background-color: $main-red;
    font-family: sans-serif;
    border: none;
    text-align: center;
    text-decoration: none;
    color: $text-light;
    padding: 1em;
    border-radius: 15px;
}

button:hover {
    background-color: $dark-red;
}

a {
    border-bottom: none;
    color: $text-dark;
    text-decoration: none;
}

a:link {
    color: $main-red;
    border-bottom: none;
}

a:hover {
    border-bottom: none;
    color: $main-blue;
}

[role=article] {
    margin-top: 5em;
    margin-bottom: 5em;
}

#zen-explanation {
    margin-top: 0;
}

#zen-explanation,
#zen-benefits {
    background-color: $background-color;
    max-width: 100%;
    overflow: hidden;

    p {
        color: $text-light;
    }

    h3 {
        color: $primary;
    }
}

.summary {
    font-style: italic;
    text-align: center;
    font-size: 0.9em;
}

.colorBox1 {
    margin: 0 0;
    @include color-box()
}

.sidebar {
    text-align: right;
    margin-right: 70px;
    margin-left: -20px;
    background: linear-gradient(0deg, #98BABB 0%, white 2%, #98BABB 20%, white 22%, #98BABB 35%, white 37%, #98BABB 50%, white 52%, #98BABB 65%, white 67%, #98BABB 80%, white 82%, #98BABB 95%);
    background-size: 400% 400%;
    animation: Animation 15s linear infinite;
    max-height: 900px;
    max-width: 300px;
    padding: 10px;
}

@keyframes Animation {
    0% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 50% -100%;
    }
}

ul {
    list-style-type: none;
    padding-bottom: 2.5em;
}

.design-selection,
.design-archives,
.zen-resources {
    margin-top: 20px;
    margin-right: 6%;

}

[role=contentinfo] {
    margin-top: 2.5em;
}

[role=contentinfo],
footer {
    text-align: center;
    font-size: 0.9em;
}

.wrapper a {
    color: $text-dark;
    border-bottom: none;
}

.wrapper h3 {
    color: $text-dark;
}


@media only screen and (min-width: 768px) {
    .page-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding-bottom: 60px;
        grid-gap: 1em;
    }

    #zen-intro {
        grid-column: 1/6;
        grid-row: 1;
    }

    #zen-preamble {
        z-index: 2;
        text-align: center;
        max-width: 55%;
        margin: 0 auto;
        margin-bottom: 2.5em;
        margin-top: 2.5em;
    }

    #zen-supporting {
        grid-column: 1/5;
        grid-row: 2;
        max-width: 75%;
        margin: 0 auto;
    }

    #zen-explanation,
    #zen-benefits {
        width: 100%;
    }

    .sidebar {
        grid-column: 5/6;
        grid-row: 2;
    }
}