@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.font-1 {
    font-family: 'amita', serif;
}

.font-2 {
    font-family: 'Montserrat', serif;
}

$font1: 'amita',
serif;
$font2: 'Montserrat',
serif;
$fonts-body: 'Arial',
sans-serif;
$background-color: #91AA9D;
$primary: #FCFFF5;
$main-red: #d4653b;
$main-blue: #3E606F;
$text-dark: #193441;
$text-light: #FCFFF5;
$dark-red: #974021;