$fonts-headline: "arial narrow", Arial, Verdana, sans-serif;
$fonts-body: verdana, arial, sans-serif;
$background-color: #daede2;
$primary: #e3e6d3;
$red: #d4653b;
$lightGreen: #849722;
$darkGreen: #2a3b12;
$text-dark: #333;
$text-light: #fff;
