@import url("https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.font-1 {
  font-family: "amita", serif;
}

.font-2 {
  font-family: "Montserrat", serif;
}

html {
  background-color: #91AA9D;
  display: block;
  padding: 5%;
}

header {
  height: 230px;
  padding: 20px 0 70px 0;
  background: #2d6360 20% 0 url("https://allgiff.github.io/CSSZenGarden/images/head-4.jpg") no-repeat;
  background-attachment: fixed, fixed, fixed, scroll;
  background-image: url("https://allgiff.github.io/CSSZenGarden/images/head-4.jpg");
  background-position: 0 0, 0 0, -5px -25px, 0 50%;
  background-repeat: repeat, repeat, repeat, no-repeat;
  background-size: auto, auto, auto, cover;
  text-align: center;
}

body {
  background-color: #FCFFF5;
  padding: 1em;
  font-family: "Arial", sans-serif;
  text-align: justify;
}

h1 {
  color: #FCFFF5;
  font-weight: 900;
  font-size: 6em;
  letter-spacing: 1px;
  line-height: 1em;
  font-family: "amita", serif;
}

h2 {
  font-family: "Montserrat", serif;
  margin: 0;
  color: #FCFFF5;
}

h3,
h4 {
  font-family: "Montserrat", serif;
  margin: 0;
  color: #d4653b;
}

button {
  background-color: #d4653b;
  font-family: sans-serif;
  border: none;
  text-align: center;
  text-decoration: none;
  color: #FCFFF5;
  padding: 1em;
  border-radius: 15px;
}

button:hover {
  background-color: #974021;
}

a {
  border-bottom: 2px solid #193441;
  color: #193441;
  text-decoration: none;
}

a:hover {
  border-color: #d4653b;
  color: #3E606F;
}