@import url("https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap");

.font-1 {
  font-family: "Charmonman", serif;
}

.font-2 {
  font-family: "Montserrat", sans-serif;
}

html {
  background-color: #91AA9D;
  display: block;
  padding: 1em;
}

header {
  height: 230px;
  padding: 20px 0 70px 0;
  background: #2d6360 20% 0 url("https://allgiff.github.io/CSSZenGarden/images/head-4%20copy.jpg") no-repeat;
  background-image: url("https://allgiff.github.io/CSSZenGarden/images/head-4%20copy.jpg");
  background-position: 0% 60%;
  background-size: cover;
  text-align: center;
}

body {
  background-color: #FCFFF5;
  font-family: "Monterrat", sans-serif;
  margin: 1em;
}

h1 {
  color: #FCFFF5;
  font-weight: 900;
  font-size: 6em;
  letter-spacing: 1px;
  line-height: 1em;
  font-family: "Charmonman", serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: #FCFFF5;
}

h3,
h4 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: #d4653b;
  font-size: 2em;
  font-weight: 700;
}

.preamble h3 {
  text-align: center;
  margin-top: -50px;
}

#zen-preamble {
  margin-bottom: -60px;
}

button {
  background-color: #d4653b;
  font-family: sans-serif;
  border: none;
  text-align: center;
  text-decoration: none;
  color: #FCFFF5;
  padding: 1em;
  border-radius: 15px;
}

button:hover {
  background-color: #974021;
}

p {
  font-size: 1em;
  line-height: 1.2em;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  border-bottom: none;
  color: #193441;
  text-decoration: none;
}

a:link {
  color: #d4653b;
  border-bottom: none;
}

a:hover {
  border-bottom: none;
  color: #3E606F;
}

[role=article] {
  margin-top: 5em;
  margin-bottom: 5em;
}

#zen-explanation,
#zen-benefits {
  background-color: #91AA9D;
  max-width: 100%;
  position: relative;
}

#zen-explanation p,
#zen-benefits p,
#zen-explanation h3,
#zen-benefits h3 {
  color: #FCFFF5;
}

.summary {
  font-style: italic;
  text-align: center;
  font-size: 0.9em;
}

.sidebar {
  text-align: right;
  margin: 0 10px 0 10px;
  background: linear-gradient(0deg, #98BABB 0%, white 2%, #98BABB 20%, white 22%, #98BABB 35%, white 37%, #98BABB 50%, white 52%, #98BABB 65%, white 67%, #98BABB 80%, white 82%, #98BABB 95%);
  background-size: 400% 400%;
  animation: Animation 15s linear infinite;
  max-height: 100%;
  max-width: 350px;
  padding: 10px;
}

@keyframes Animation {
  0% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 50% -100%;
  }
}

ul {
  list-style-type: none;
  padding-bottom: 2.5em;
  font-size: 1.1em;
}

.design-selection,
.design-archives,
.zen-resources {
  margin-top: 20px;
  margin-right: 6%;
}

[role=contentinfo] {
  margin-top: 2.5em;
}

[role=contentinfo],
footer {
  text-align: center;
  font-size: 0.9em;
}

.wrapper a {
  color: #193441;
  border-bottom: none;
}

.wrapper h3 {
  color: #193441;
}

#zen-benefits p {
  margin-top: 0;
}

#zen-explanation p {
  margin-top: 0;
}

#zen-explanation h3,
#zen-benefits h3 {
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

#zen-explanation p,
#zen-benefits p {
  margin-top: 0;
  padding-bottom: 20px;
}

.participation h3,
.requirements h3 {
  margin-top: -60px;
}

.participation {
  margin-bottom: -50px;
}

.requirements {
  margin-bottom: 20px;
}

footer {
  height: 200px;
  width: 100%;
  background-image: url(./images/koipond4.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -30px;
}

@media only screen and (min-width: 768px) {
  body {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
  }

    h1 {
      margin-top: 60px;
    }

    h2 {
      margin-top: -1em;
    }

    h3,
    h4 {
      padding: 0;
    }

    p {
      padding: 0;
    }

  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  #zen-intro {
    grid-column: 1/6;
    grid-row: 1;
  }

  #zen-preamble {
    z-index: 2;
    text-align: center;
    max-width: 55%;
    margin: 0 auto;
    margin-bottom: 2.5em;
    margin-top: 2.5em;
  }

    .preamble h3 {
      margin-top: 0px;
    }

  #zen-supporting {
    grid-column: 1/5;
    grid-row: 2;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .explanation {
    width: 100%;
    grid-column: 1/5;
    grid-row: 1;
    margin-top: 0;
    margin-bottom: 0;
  }

  .explanation::before {
    content: '';
    display: block;
    width: 22%;
    height: 100%;
    background: #91AA9D;
    position: absolute;
    z-index: 1;
  }

  .explanation p,
  .explanation h3 {
    padding-left: 25%;
  }

  .participation {
    grid-column: 1/5;
    padding-left: 25%;
    padding-right: 10%;
    margin-bottom: 20px;
  }

  .benefits {
    grid-column: 1/5;
    grid-row: 3;
    margin-top: 0;
    margin-bottom: 0;
  }

  .benefits::before {
    content: '';
    display: block;
    width: 22%;
    height: 100%;
    background: #91AA9D;
    position: absolute;
    z-index: 1;
  }

  .benefits p,
  .benefits h3 {
    padding-left: 25%;
  }

    #zen-explanation p,
    #zen-benefits p,
    #zen-explanation h3,
    #zen-benefits h3 {
      padding-right: 10%;
    }

  .requirements {
    grid-column: 1/5;
    padding-left: 25%;
    padding-right: 10%;
  }

  .sidebar {
    grid-column: 5/6;
    grid-row: 2;
    /*margin-left: -25%;*/
  }

    footer {
      grid-column: 1/6;
      grid-row: 5;
      margin: 0 auto;
      height: 300px;
      width: 100%;
    }
}