@use 'variables'as *;
@use 'atoms';


a {
  color: $text-light; //in this case the link wants to be light instead of the default dark
}

.preamble {
  background: rgba(255, 255, 255, 0.9);
  color: $text-dark;
  margin-left: -30%;
  padding: 5% 5% 5% 30%;
}