@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@700&display=swap');

.font-1 {
    font-family: 'amita', cursive;
}

.font-2 {
    font-family: 'Alegreya SC', serif;
}

$font1: 'Amita';
$font2: 'Alegreya SC',
serif;
$fonts-body: 'Arial',
sans-serif;
$background-color: #1A535C;
$primary: #e3e6d3;
$main-red: #d4653b;
$light-green: #688B58;
$text-dark: #333;
$text-light: #fff;
$dark-red: #974021;