$fonts-headline: "arial narrow",
Arial,
Verdana,
sans-serif;
$fonts-body: verdana,
arial,
sans-serif;
$background-color: #2a3b12;
$primary: #e3e6d3;
$accent1: #d4653b;
$accent2: #849722;
$text-dark: #333;
$text-light: #fff;